body{
    margin: 0;
    padding: 0;
    background-image: url("../image/sun.jpg");
    background-size: cover;
    font-family: sans-serif;
}
.createUser{ 
    display: none;
}

#firstname,
#lastname{
    width:35%;
    margin-left: 40px;
}
#email{
    margin-left: 40px;
    width: 440px;
    margin-top: 3%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}
#confirm{
    margin-top: 0;
    margin-left: 40px;
    width: 445px;
}
#pass{
    margin-left: 40px;
    width: 445px;
}
.con{
    margin-top: 5%;
    display: flex;
}
#male{
    margin-left: 9%; 
}
label{
    color: #fff;
}
#female{
    margin-left: 8%;
    color: #fff;
}

#create,
#cancel,
#back{
    border: none;
    outline: none;
    padding: 5px;
    width: 15%;
    border-radius: 7px;
    color: #fff;
}
#create{
    margin-left: 8%;
    background: #1E90FF;
}
#create:hover{
    background: #1e8fffe0;
}
#cancel{
    margin-left: 4%;
    background: #50bbdf;
}
#back{
    margin-left: 33%;
    background: #00BFFF;
}
#create:hover,
#cancel:hover,
#back:hover{
    cursor: pointer;
}



/* -------------------------------------- */
form{
    display: block;
}
.login{
    background: rgba(0,0,0,0.5);
    width: 40%;
    height: 66.3vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 8%;
}
h2{
    text-align: center;
    padding-top: 35px ;
    padding-bottom: 20px ;
    color:#fff
}
input[type="text"],
input[type="password"]{
    margin-left: 9%;
    width: 80%;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}
input[type="password"]{
    margin: 3% 9%;
}
input[type="text"],
input[type="password"]{
    padding-left: 3%;
}
#loginButton{
    width: 83%;
    padding: 10px 0;
    border-radius: 8px;
    border: none;
    margin-left: 9%;
    background: #1E90FF;
    color: #fff;
    margin-top: 3%;
}
#loginButton:hover{
    cursor: pointer;
    background: #217ad3;
}
.signup{
    background: rgba(49, 48, 48, 0.972);
    height: 19vh;
    margin-top: 10%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
#forgot,
#createButton{
    background: none;
    border: none;
    color: #fff;
    text-align: center;
    margin-left: 35%;
}
#createButton{
    margin-top: 5%;
    margin-left: 45%;
}
#createButton:hover,
#forgot:hover{
    cursor: pointer;
    color: rgb(204, 195, 195);
}
#forgot{
    margin-top: 5%;
    margin-left: 40%;
}
p{
    margin-left: 10%;
}



