body{
    margin: 0;
    padding: 0;
}
.head{
    background: rgb(43, 146, 153);
    height: 4vh;
}
h2{
    padding-top: 5px;
    margin-top: 0;
    margin-left: 1%;
    font-size: 10px;
    color: #fff;

}

.manu{
    display: flex;
}
.profil{
    background: rgb(21, 100, 219);
    width: 30%;
    display: flex;
    height: 9vh;
}
.image{
    margin-left: 5%;
}
img{
    border-radius: 360px;
    height: 5v;
    width: 45%;
}
h3{
    color: #fff;
    margin-top: 3%;

}
p{
    color: #fff;
    margin-left: 40%;
}
.chater{
    background: rgb(104, 160, 177);
    width: 70%;
}
.shaibar{
    width: 30%;
    background: teal;
    height: 85vh;
}
.contence{
    width: 70%;
    background: rgb(34, 32, 32);
}
.main{
    display: flex;
}
.message{
    padding: 10px 0;
    color: #fff;
}
.sender{
    background: rgb(44, 41, 41);
    height: 10vh;
    display: flex;
    align-items: center;
  
}
#send{
    background: blue;
    border-radius: 360px;
    padding: 10px;
    color: #fff;
    border: none;
    margin-left: 3%;
}
#text{
    width: 50%;
    margin-left: 10%;
    padding: 12px 50px;
    border-radius: 25px;
    border: none;
    outline: none;
}
ul{
    box-sizing: border-box;
}
li{
    margin-left: 70%;
    list-style: none;
    width: 20%;
    padding: 5px 15px;
    background: rgb(43, 189, 189);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}