

header{
    width: 60%;
    margin-left: 20%;
    padding: 1px;
    background: rgb(75, 156, 179);
    color: white;
    font-family: sans-serif;
}
h5{
    margin: 20px;
    margin-left: 40%;
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(133, 143, 107);
}
.container{
    width: 60%;
    margin: auto;
}
form{
    width: 300px;
    padding: 10px;
    margin: auto;
}
input{
    padding: 10px;
    margin: 10px 0px;
    width: 300px;
}
#btn{
    width: 40%;
    padding: 10px;
    border: none;
    outline: none;
    background: blue;
    border-radius: 10px;
    color: white;
}
#btn:hover{
    background: rgb(35, 157, 233);
    cursor: pointer;
}